@page "/settings"
@page "/settings/general"

@inject ILocalizationService Localizer

<h3>@Localizer["Settings"]</h3>
@*
 <Tabs>
    <Tab Title="General" Active="true">
        <Content>
            Some general settings be here
        </Content>
    </Tab>
    <Tab Title="Houses">
        <Content>
            <HomeList />
        </Content>
    </Tab>
    <Tab Title="Tariffs"><Tariffs /></Tab>
    <Tab Title="Utility types">
        <Content>
            <UtilityTypesList />
        </Content>
    </Tab>
</Tabs> *@

@code {

}
