@using Web.Clients
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider IsDarkMode="true" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
         <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Комунальні платежі</MudText> 
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Width="280px" Variant="DrawerVariant.Responsive" ClipMode="DrawerClipMode.Always" >
        <NavMenu></NavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
                @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
bool _drawerOpen = true;

void DrawerToggle()
{
_drawerOpen = !_drawerOpen;
}
    }

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


